/* Style for the entire ballot form */
.ballot-form {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    height: auto;
    min-height: 600px;
    margin: 20px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Title of the ballot */
.ballot-title {
    font-size: 60px; /* Increased font size */
    margin-bottom: 10px;
    text-align: center;
}


/* List of candidates */
.candidates-list {
    margin-bottom: 60px;
}

/* Individual candidate item */
.candidate-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.ranked-candidate-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}



/* candidate labels */
.candidate-label {
    font-size: 40px;
}

/* Submit button style */
.ballot-submit {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ballot-submit:hover {
    background-color: #0056b3;
}


.candidate-input {
    transform: scale(2.5);
    margin-right: 25px;
}

.candidate-select {
    padding: 8px;
    font-size: 20px;
    border: 2px solid #007bff;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    text-align: center;
}
