{% extends 'userbase.html' %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <div>
        {{ form.candidates.label_tag }}
        {{ form.candidates }}
    </div>


    {% if voting_type == 'ranked_choice' %}
    <div>
        {{ form.number_of_winners.label_tag }}
        {{ form.number_of_winners }}
    </div>
    {% endif %}

    <button type="submit">Submit Candidates</button>
</form>

{% if error_msg %}
    <p style="color: red">{{ error_msg }}</p>
{% endif %}




{% endblock %}