{% extends 'userbase.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Your Elections</h2>
    <div class="row">

    {% if elections %}
        {% for election in elections %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ election.title }}</h5>
                    <p class="card-text">{{ election.description }}</p>
                    <p class="card-text">{{ election.status }}</p>
                    <a href="{% url 'manage_election' election.id %}" class="btn btn-primary">View Election</a>
                </div>
            </div>
        </div>

        {% endfor %}





    {% else %}
    You don't currently have any Elections
    {% endif %}
    </div>
</div>
{% endblock %}

