{% extends 'userbase.html' %}

{% block content %}
<div class="manage-election-container">
    <h2 class="manage-election-title">Election: {{ election.title }}</h2>
    <p class="manage-election-description"><strong>Description:</strong> {{ election.description }}</p>
    <p class="manage-election-status">
        <strong>Status:</strong>
        <span class="status {{ election.status }}">{{ election.get_status_display }}</span>
    </p>

    {% if election.status == 'active' or election.status == 'completed' %}
         <p class="manage-election-vote-count"><strong>Vote Count:</strong> {{ election.votes_cast }} / {{ voters_count }} </p>
    {% endif %}

    <div class="manage-election-actions">
        {% if election.status == 'pending' %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="action" value="start" class="btn-manage-election btn-start">Start Election</button>
            </form>
        {% elif election.status == 'active' %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="action" value="end" class="btn-manage-election btn-end">End Election</button>
            </form>

        {% endif %}
    </div>

    <hr>

    <h3 class="manage-election-subtitle">Ballots</h3>
    <ul class="manage-election-ballots">
        {% for ballot in ballot_results %}
            <li class="ballot-item">
                <strong>Ballot Title:</strong> {{ ballot.ballot.title }}<br>
                <strong>Voting Type:</strong> {{ ballot.ballot.get_voting_type_display }}<br>

                <h4 class="manage-election-subsubtitle">Candidates</h4>
                <ul class="manage-election-candidates">
                    {% for candidate in ballot.ballot.candidates.all %}
                        <li class="candidate-item">{{ candidate.title }}</li>
                    {% endfor %}
                </ul>

                <!-- code for results summary -->
                {% if election.results_published %}

                    <h3 class="manage-election-subtitle">Results</h3>



                    {% if ballot.winners %}
                        {% if ballot.no_of_winners  == 1%}
                            <h4 class="manage-election-subsubtitle">Winner</h4>
                        {% else %}
                            <h4 class="manage-election-subsubtitle">Winners</h4>
                        {% endif %}

                            <ul class="manage-election-candidates">
                                {% for winner in ballot.winners %}
                                    <li class="candidate-item">{{ winner }}</li>
                                {% endfor %}
                            </ul>
                    {% endif %}

                    {% if ballot.ties %}
                        <h4 class="manage-election-subsubtitle">Ties</h4>
                        <ul class="manage-election-candidates">

                                {% for tie in ballot.ties %}
                                    <li class="candidate-item">{{ tie }}</li>
                                {% endfor %}
                            </ul>
                    {% endif %}




                    <div class="text-center mt-4">
                        <a href="{% url 'view_fpp_results' ballot.ballot.id %}" class="btn btn-secondary">View Full Results</a>
                    </div>
                {% endif %}
                {% if election.status == 'pending' %}
                     <div class="text-center mt-3">
                        <a href="{% url 'edit_ballot' ballot.ballot.id %}" class="btn btn-secondary btn-sm">Edit Ballot</a>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if election.status == 'pending' %}
        <div class="text-center mt-3">
            <a href="{% url 'add_new_ballot' election.id %}" class="btn btn-primary btn-md">Add Ballot</a>
        </div>
    {% endif %}

    <hr>

    <h3 class="manage-election-subtitle">Voters: {{ voters_count }}</h3>
    <ul class="manage-election-voters">
        {% for voter in election.voters.all|slice:":10" %}
            <li class="voter-item">{{ voter.name }} ({{ voter.email }})

                {% if voter.voted %}

                {% endif %}
                </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}


