{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NextGenVoting{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/styles.css' %}">
    <style>
        /* Custom styles for the navbar */
        .navbar-custom {
            background-color: #333;
        }
        .navbar-brand img {
            height: 60px;
        }

        .nav-link{
            font-size: 25px;
        }

        .navbar-brand{
            font-size: 25px;
        }

    </style>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <!-- Logo on the left -->
            <a class="navbar-brand" href="#">
                <img src="{% static '/images/logo.png' %}" alt="Logo">
                NextGenVoting
            </a>

            <!-- Toggler for mobile view -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Elections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Results</a>
                    </li>
                </ul>
            </div>

            <!-- Buttons on the right -->
            <div class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <a href="{% url 'dashboard' %}" class="btn btn-light mr-2">My Account</a>
                    <!--<a href="{% url 'logout' %}" class="btn btn-primary">Logout</a> -->

                    <form action="{% url 'logout' %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="logout-button btn btn-primary">Logout</button>
                    </form>





                {% else %}
                <a href="{% url 'login' %}" class="btn btn-light mr-2">Login</a>
                <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
                {% endif %}

            </div>
        </div>
    </nav>

    <div class="">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
