{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="voting-process-banner">
    <h1>The Voting Process</h1>
    <p>Secure, Transparent, and Easy-to-Use Voting System</p>
</div>

<div class="voting-process-container">
    <div class="step">
        <div class="icon">
            <i class="fa-regular fa-user-plus fa-2xl"></i>
        </div>
        <h3>1. Sign Up</h3>
        <p>Create an account to start organizing your elections. It's quick and easy!</p>
    </div>

    <div class="step">
        <div class="icon">
            <i class="fa-solid fa-plus fa-2xl"></i>
        </div>
        <h3>2. Create an Election</h3>
        <p>Enter the number of ballots, choose blockchain or database storage, and set up your election.</p>
    </div>

    <div class="step">
        <div class="icon">
            <i class="fa-solid fa-sliders fa-2xl"></i>
        </div>
        <h3>3. Configure Ballots</h3>
        <p>Specify the title, voting type (Ranked Choice, First Past the Post, or Yes/No), and add candidates.</p>
    </div>

    <div class="step">
        <div class="icon">
            <i class="fa-solid fa-table-list fa-2xl"></i>
        </div>
        <h3>4. Upload Voter List</h3>
        <p>Upload a CSV file containing the names and emails of all voters to ensure secure participation.</p>
    </div>

    <div class="step">
        <div class="icon">
            <i class="fa-solid fa-circle-play fa-2xl"></i>
        </div>
        <h3>5. Start the Election</h3>
        <p>Start the election and automatically send unique voting links to all registered voters.</p>
    </div>

    <div class="step">
        <div class="icon">
            <i class="fa-solid fa-check-to-slot fa-2xl"></i>
        </div>
        <h3>6. Cast Your Vote</h3>
        <p>Voters click their unique links, access their ballots, and cast their votes securely.</p>
    </div>

    <div class="step">
        <div class="icon">
            <i class="fa-solid fa-hand fa-2xl"></i>
        </div>
        <h3>7. End the Election</h3>
        <p>End the election to finalize voting. The system counts the votes and displays the results.</p>
    </div>
</div>


{% endblock %}