{% extends 'votebase.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}


<div class="container mt-4">
    <h1 class="text-center">Vote Summary</h1>

    <div class="card mt-4">
        <div class="card-body">
            <h2 class="card-title">Your Votes</h2>
            <p class="card-text">Below is a summary of your selections for each ballot:</p>

            <h3>Ballots</h3>
            <ul class="list-group">
                {% for ballot in ballots %}
                    <li class="list-group-item">
                        <h5>{{ ballot.title }}</h5>
                        <ul>
                            {% for name in ballot.candidateNames %}
                                <li>{{ name }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success">Submit Votes</button>
            </div>

        </div>
    </div>
</div>
</form>

{% endblock %}